language: node_js
node_js:
  - "8"
  - "10"
after_success:
  - "cat ./coverage/lcov.info | ./node_modules/.bin/coveralls"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

notifications:
  slack: techteamer:QbvocYVD9rzZRXPZ5YIK2RJc
  email: false
